{% extends "::base.html.twig" %}

{% block title %}SynopsisSubjectBundle:Subject:index{% endblock %}

{% block body %}
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Subject</th>
            </tr>
        </thead>

        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.id }}</td>
                    <td>{{ subject.type.namespace }}</td>
                    <td>
                        <a href="{{ path('subject_show', { 'id' : subject.id }) }}">
                            {{ subject.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
