{% extends "::base.html.twig" %}

{% block title %}SynopsisSubjectBundle:SubjectAction:index{% endblock %}

{% block body %}
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            {% for action in actions %}
                <tr>
                    <td>{{ action.id }}</td>
                    <td>
                        <a href="{{ path('subject_action_show', { 'id' : action.id }) }}">
                            {{ action.name }}
                        </a>
                    </td>
                    <td>{{ action.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
